.transaction .title {
    font-size: 1.0em;
}

.transaction .balance {
	font-size: 0.8em;
}

.wallet {
    padding-top: 5px;
}

.wallet .title {
    font-size: 1.2em;
}

.wallet .balance {
    font-size: 1.0em;
}

.nested.boxed-list {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
    border-bottom: none;
}

.currency_dropdown > button {
    background: rgba(0, 0, 0, 0);
    padding-top: 0;
    padding-bottom: 0;
}

.header_group .heading {
    font-weight: 800;
    font-size: 150%;
}

.close.destructive-action {
	min-width: 24px;
	min-height: 24px;
}

.active {
    background-color: var(--window-fg-color);
    color: var(--window-bg-color);
}

preferencesgroup .card {
    padding: 6px 12px;
    min-height: 36px;
    margin: 0;
}

preferencesgroup .card.buttons {
    padding: 6px;
}

calendar {
    border: 0;
    background: rgba(0,0,0,0);
}

.active-border {
    border-bottom: 1px solid var(--window-fg-color);
}