.nested.boxed-list {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
    border-bottom: none;
}

.header_group .heading {
    font-weight: 800;
    font-size: 150%;
}

.active {
    background-color: var(--window-fg-color);
    color: var(--window-bg-color);
}

calendar {
    border: 0;
    background: rgba(0,0,0,0);
}

.active-border {
    border-bottom: 1px solid var(--window-fg-color);
}