[Desktop Entry]
Name=@APP_TITLE@
Comment=@APP_DESCRIPTION@
Exec=@APP_EXECUTABLE@
Icon=@APP_ICON_NAME@
Terminal=false
Type=Application
Categories=GTK;GNOME;Office;Finance;
Keywords=@APP_NAME@;money;finance;wallet;cash;
StartupNotify=true
